@media screen and (max-width: 1280px;){

}

@media screen and (max-width: 960px){

	nav ul li a{
		font-size: .8rem;
	}

	.slider-wrap{
		width:100%;
	}

	.slick-prev{
		left:25%;
		height:30px;
		bottom:-70%;
	} 

	.slick-next{
		height:30px;
		right:25%;
		bottom:-70%;
	}

	.intro-wrap{
		flex-direction: column;
	}

	.in-wrap{
		text-align:center;
	}

	.in-wrap div{
		background-image: url('../img/intro.jpg');
		background-size: cover;

	}
	.in-wrap p{
		margin:auto;
		padding:20px 0;
		background-color: rgba(255,255,255,.5);
		font-size: 1em;
		line-height: normal;
		}
	
	.intro img{
		display:none;
	}

	.img{
		width:80%;
		height: 50%;
	}

	.goal-about{
		font-size:.6rem;
	}
}

@media screen and (max-width: 480px){
	html:before,
	html:after,
	body:before,
	body:after{
	display: none;
	}

	.slick-prev{
		left:25%;
		height:30px;
		bottom:-160px;
	} 

	.slick-next{
		height:30px;
		right:25%;
		bottom:-160px;
	}

	.hamburger{
		top:0;
		right:0;
		background-color: transparent;
	}

	.hamburger.on{
		background-color: #fff;
	}

	.hamburger span,
	.hamburger span:before,
	.hamburger span:after{
		background-color: #696969;
	}

	.goal{
		background-image: url('../img/goal.jpg');
		background-size: cover;
		flex-direction: column;
		align-items:baseline;
	}

	.img{
		display:none;
	}

	.goal div{
		width:90%;
		margin:auto;
		position: static;
	}

	.goal h3{
		top:25%;
	}

	.intro h3{
		margin-left: 0;
	}

	.like h3{
		border:none;
		margin-bottom: 16px;
		width:95%;
	}

	.intro-wrap{
		flex-direction: column;
	}

	.in-wrap{
		text-align:center;
	}

	.in-wrap div{
		background-image: url('../img/intro.jpg');
		background-size: cover;
	}
	.in-wrap p{
		padding:20px 0;
		background-color: rgba(255,255,255,.5);
		}
	
	.intro img{
		display:none;
	}

	.backtop{
		display:none;
	}

	h2{
		width:100%;
	}
	
	.limit{
		flex-direction: column;
	}

	.contact{
		flex-direction: column;
		padding:30px 0;
	}

	.contact h3{
		width:100%;
		text-align: center;
		border:none;
		margin-bottom:20px;
	}

	footer{
		padding:16px 0;
	}

	nav{
		top:0;
		height:40%;
	}

	nav ul{
		flex-direction: column;
		height:100%;
	}








}