@import "_mixin";
@import "_font";
@import "_display-fixed";

//タイトル部分
.title{
	@include flex($jc:center,$ai:center);
	@extend %font-vertical-rl;
	@extend %font-family-heading;
		h1{
			@include font($fs:50px,$fc:$bright);
					@include height-width($h:80vh,$w:80vw);
					@include flex($jc:center,$ai:center);
					background-image: url('../img/top.png');
					background-size: cover;
					background-attachment: fixed;

		}

	@include mediaq(s){
		background-image:none;
	}
}


//時間制限
.limit{
	@include flex($jc:center,$ai:center);
	@include font($fs:30px,$ta:center);
	@extend %font-main_bold;
		h2{
			margin:0;
		}
	.yycountdown-box{
		@include font($ta:center,$fc:$main-font-color);
			.yyc-day,.yyc-day-text,.yyc-hou,.yyc-hou-text,.yyc-min,.yyc-min-text,.yyc-sec,.yyc-sec-text{
				@include font($fs:30px,$ta:center,$fc:$main-font-color);
				@extend %font-main_bold;
					@include mediaq(m){
						font-size: 1.8em;
					}
						@include mediaq(s){
							font-size: 1.5em;
					}
			}
	}

	@include mediaq(m){
		h2{
			font-size: .5em;
		}
	}

	@include mediaq(s){
		flex-direction: column;
		h2{
			font-size: .3em;
		}
	}
}


//ここはbootsnipを使った自己紹介パート
.row{
	@include flex($jc:center,$ai:center);
	@include height-width($h:100vh);
		@include mediaq(s){
				text-align: center;
			}
	.intro-about{
		color:$main-font-color;
		@extend %font-main;
			span{
				color:$heading-font-color;
				@extend %font-main_bold;
			}
	}
	@include mediaq(s){
		flex-direction: column;
		display: initial;
	}

	blockquote{
		@include margin-padding($m:20px 0,$p:0);
		border:none;
			 p{	
			 	@include font($ta:center,$fs:30px,$fc:$heading-font-color);
			 	font-size:30px;
				@extend %font-family-heading;
			}
	}
}

//ここから目標
.goal{
	@include flex($jc:space-between,$ai:center);
	position:relative;

		div{
			@include mediaq(s){
				width:90%;
				margin:auto;
				position: static;
			}
		}

	h3{
		@include height-width($h:30px,$w:82px);
		@include absolute($at:22%,$ar:3%);
		@extend %font-family-heading;
		@include font($fs:30px);
			@include mediaq(s){
				@include margin-padding($m:0,$p:12px);
				@include height-width($h:40px,$w:100vw);
				@include font($fs:30px,$ta:center,$fc:$bright);
				background-color: #323232;
				position:static;
			}
	}
	.goal-about{
		@include absolute($ar:5%);
		@include flex($jc:center,$ai:center);
		@include font($ta:right,$lh:24px);
		@include height-width($w:45%,$h:30%);
			p{
				@extend %font-main;
			}
		background-color:$bright;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
			@include mediaq(m){
				@include font($fs:1.6rem,$ta:right);
				@include height-width($w:75%,$h:26%);
				padding:24px 20px;
			}
			@include mediaq(s){
				position: static;
				@include margin-padding($m:0,$p:0);
				@include font($fs:1.4rem,$ta:center,$fc:#f0f0f0);
				@include height-width($h:24%,$w:100vw);
				background-color: #323232;
				box-shadow:none;
			}
	}

	.img{
		@include height-width($h:60%,$w:70%);
		background-image: url('../img/goal2.jpg');
		background-size: cover;
			@include mediaq(s){
				@include height-width($h:300px,$w:100vw);
				margin: 0;
			}
	}
	
	@include mediaq(s){
		@include flex($jc:center,$fd:column,$ai:center);
	}

}

.like{
	@include flex($jc:center,$ai:center);

	.like-wrap{
		width: 70vw;

		h3{
			width:360px;
			@extend %font-family-heading;
			font-size:30px;
			@include margin-padding($m:0 0 50px);
			@include mediaq(s){
				border:none;
				margin-bottom:16px;
				width:95%;
			}
		}

		.fl{
			@include flex($jc:center,$ai:center);
				.sl-wrap{
					position: relative;
					width: 70vw;
					z-index: 1;
					opacity: 1;
	    			background-color: $main-color;
	    			@include mediaq(m){
						width:100%;
						}
	    			.img-sl img{
	    				display: block;
						width: 100%;
	    			}
		}
			.slick-prev,.slick-next{
				@include font($fs:20px);
				background-color: transparent;
				width:20px;

			}
			.slick-prev{
				@include absolute($at:50%,$al:-30px);
				border:none;
					@include mediaq(m){
							height:30px;
						}
					@include mediaq(s){
						@include absolute($al:25%,$ab:-50px);
						height:30px;
					}
			}
			.slick-next{
				@include absolute($at:50%,$ar:-30px);
				border:none;
					@include mediaq(m){
							height:30px;
					}
					@include mediaq(s){
						@include absolute($ar:25%,$ab:-50px);
						height:30px;
					}
			}
		}
	}
}


//ここからお問い合わせ
.contact{
	@include flex($jc:space-around,$ai:center);
	@include margin-padding($m:50px 0 0 0,$p:20px 0);
	background-color: $sub-color;
		@include mediaq(s){
			flex-direction: column;

		}

	h3{
		@include height-width($h:30px,$w:200px);
		@extend %font-family-heading;
		font-size:30px;
		color:$bright;
		@include border($bb-r:$border);
			@include mediaq(s){
				width:100%;
				text-align: center;
				border:none;
				margin-bottom:20px;
			}
	}
	form{
		@include flex($fd:column);

		button{
			@include margin-padding($m:auto,$p:3px);
			border:none;
			background-color:$bright;
			border-radius:3px;
			color:$main-color;

			&:hover{
				@include hover;
			}
		}
		input{
			@include border($bb-t:$border,$bb-r:$border,$bb-b:$border,$bb-l:$border);
			width:300px;
			line-height: 30px;
				@include mediaq(s){
			    	width:200px;
    				margin:auto;
				}
		}

		textarea{
			max-width: 300px;
			min-width: 300px;
			height:60px;
			@include border($bb-t:$border,$bb-r:$border,$bb-b:$border,$bb-l:$border);
			margin: 20px 0;
				@include mediaq(s){
				    max-width: 200px;
	    			min-width: 200px;
	    			margin:auto;
				}
		}
	}
}

//ここからフッター
footer{
	@include border($bb-t:$border-b);
	background-color: $main-color;
	padding:16px 0;
		p{
			@include font($fs:12px,$fc:$bright,$ta:center);
			@extend %font-main;
		}
	@include mediaq(s){
		padding:16px 0;
	}
}